@font-face {
  font-family: 'nunito', sans-serif;
  src: local('nunito'), url('./nunito-black-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-blackitalic-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-blackitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-bold-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-bolditalic-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-extrabold-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-extrabolditalic-webfont.woff2') format('woff2'),
    local('nunito'), url('./nunito-extrabolditalic-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-extralight-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-extralightitalic-webfont.woff2') format('woff2'),
    local('nunito'), url('./nunito-extralightitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-italic-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-light-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-lightitalic-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-regular-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-semibold-webfont.woff2') format('woff2'), local('nunito'),
    url('./nunito-semibold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: local('nunito'), url('./nunito-semibolditalic-webfont.woff2') format('woff2'),
    local('nunito'), url('./nunito-semibolditalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
